// https://github.com/antfu/eslint-config
{
  "extends": "@antfu",
  // https://eslint.vuejs.org/rules/component-tags-order.html
  "rules": {
    "vue/component-tags-order": ["error", {
      // "order": [ [  "script[setup]", "template" ], "style", "script:not([setup])" ]
      "order": [  "script[setup]", "template", "style", "script:not([setup])" ]
    }],
    "vue/comma-dangle": "off"
  }
}
